<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="navBar.css">
    <title>Title</title>
</head>
<body>

<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg" alt="Bilabonnement">
        <nav id="navbar">
            <ul>
                <li><a href="/adminHomepage">Home</a></li>
                <li><a href="/goToAddACarPage">Tilføj bil</a></li>
                <li><a href="/users">Brugere</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
</header>
<hr>

<form action="/addCar">

    <label>Benzin/EL: <select name="carType">
        <option value="gas">BENZIN</option>
        <option value="electric">EL</option>
    </select></label> <br>

    <label>Brand: <select name="brand">
        <option id="Peugeot" value="Peugeot">Peugeot</option>
        <option id="Fiat" value="Fiat">Fiat</option>
        <option id="Citroën" value="Citroën">Citroën</option>
    </select></label> <br>

    <label id="models">Model:
        <select name="model">
            <option value="C1 Le Mans 72 HK">Benzin, Citroën, C1 Le Mans 72 HK</option>
            <option value="C3 Le Mans 83 HK">Benzin, Citroën, C3 Le Mans 83 HK</option>
            <option value="108 Active+ 72 HK">Benzin, Peugeot, 108 Active+ 72 HK</option>
            <option value="208 Envy 82 HK">Benzin, Peugeot, 208 Envy 82 HK</option>
            <option value="208 Active+ 100 HK">Benzin, Peugeot, 208 Active+ 100 HK</option>
        <option value="e-2008 GT Line 136 HK">EL-Bil, Peugeot, e-2008 GT Line 136 HK</option>
            <option value="500e Icon Pack 118 HK">EL-Bil, Fiat, 500e Icon Pack 118 HK</option>
            <option value="500e CABRIO Icon Pack 118 HK">EL-Bil, Fiat, 500e CABRIO Icon Pack 118 HK</option>
        </select></label> <br>

    <label>Stelnr
        <input type="text" name="VIN" placeholder="Indtast stelnr" required minlength="17" maxlength="17">
    </label>

    <button type="submit">Tilføj bil</button>
</form>

</body>

</html>