<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="contractForm.css">
    <meta charset="UTF-8">
    <title>Rediger bruger</title>
</head>
<body onload="findDefault()">

<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X"
             src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg"
             alt="Bilabonnement">
        <nav id="navbar">
            <ul>
                <li><a href="/adminHomepage">Home</a></li>
                <li><a href="/goToAddACarPage">Tilføj bil</a></li>
                <li><a href="/users">Brugere</a></li>
                <li><a href="/logout">Log af</a></li>
                <li>
                    <div id="user">
                        <img src="https://icons.veryicon.com/png/o/internet--web/55-common-web-icons/person-4.png"
                             id="icon">
                        <span id="username" th:text="${session.user.getUsername()}"></span>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<hr>
<h1>Rediger bruger</h1>
<form action="/submitEdit">
    <label>
        <input id="usertype" style="display: none" type="text" th:value="${session.oldUserType}">
    </label>
    <label>Brugernavn:
        <input  type="text" name="username" th:value="${username}">
    </label> <br>
    <label>Brugertype: <select name="userType">
        <option class="d" value="ADMIN">ADMIN</option>
        <option class="d" value="DATA">DATA</option>
        <option class="d" value="BUSINESS">BUSINESS</option>
        <option class="d" value="INCIDENT">INCIDENT</option>
    </select>
    </label>
    <br>
    <button type="submit">Updater bruger</button>
</form>
</body>
<script>
    function findDefault() {
        let e = document.getElementById('usertype')
        let options = document.getElementsByClassName('d')

        switch (e.value) {
            case options.item(0).value:
                options.item(0).selected = true;
                break;
            case options.item(1).value:
                options.item(1).selected = true;
                break;
            case options.item(2).value:
                options.item(2).selected = true;
                break;
            case options.item(3).value:
                options.item(3).selected = true;
                break;
        }
    }
</script>
</html>