<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="AdminCSS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg" alt="Bilabonnement">
        <nav id="navbar">
            <ul>
                <li><a href="/adminHomepage">Home</a></li>
                <li><a href="/goToAddACarPage">Tilføj bil</a></li>
                <li><a href="/users">Brugere</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
</header>
<hr>

<h2>Her er alle brugere</h2>

<table>
    <thead>
    <tr>
        <th>Bruger</th>
        <th>Brugertype</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.userType}"></td>
        <td>
            <form action="/editUser">
                <input name="username" type="text" style="display: none">
                <input name="userType" type="text" style="display: none">
                <button onclick="makeEditForm(this)" type="submit"><img src="/Images/Edit.jpg" height="20px"
                                                                             width="20px"></button>
            </form>
        </td>
        <td>
            <form onsubmit="confirm('Er du sikker')" action="/deleteUser">
                <input name="username" type="text" style="display: none">
                <button onclick="makeDeleteForm(this);" type="submit"> <img  src="/Images/Deletepng.png" height="20px" width="20px"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<button class="signupbtn" onclick="openOrClose()" style="width:auto;">Opret ny bruger</button>
<form onsubmit="confirm('Er du sikker')" id="signup" action="/createUser" style="border:1px solid #ccc; display: none" >
    <div class="container">
        <hr>
        <br>
        <br>

        <label for="username"><b>Brugernavn</b></label>
        <input type="text" placeholder="Indtast brugernavn" name="username" required minlength="5">

        <label for="psw"><b>Password</b></label>
        <input type="text" placeholder="Indtast password" name="password" required minlength="4">

        <label for="usertype"><b>Brugertype</b></label>
        <select name="usertype" >
            <option value="ADMIN">ADMIN</option>
            <option value="DATA">DATA</option>
            <option value="INCIDENT">INCIDENT</option>
            <option value="BUSINESS">BUSINESS</option>
        </select>


        <div class="clearfix">
            <button onclick="bool = false; document.getElementById('signup').style.display = 'none';" type="button" class="cancelbtn">Luk</button>
            <button type="submit"  class="signupbtn">Opret bruger</button>
        </div>
    </div>
</form>
</body>
<script>
    function makeEditForm(element) {

        element.parentNode.children.item(0).value = element.parentNode.parentNode.parentNode.children.item(0).textContent;
        element.parentNode.children.item(1).value = element.parentNode.parentNode.parentNode.children.item(1).textContent;
    }
    function makeDeleteForm(element) {
        element.parentNode.children.item(0).value = element.parentNode.parentNode.parentNode.children.item(0).textContent;
    }

    let bool = false;
    let signUpBtn = document.getElementById('signup')

    function openOrClose() {

        if (!bool){
            signUpBtn.style.display='block'
            bool = true;
        } else {
            signUpBtn.style.display='none'
            bool = false;
        }
    }
    function close() {
        signUpBtn.style.display="none"
        bool = false;
    }
</script>

</html>