<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Her er alle brugere</h2>

<table>
    <thead>
    <tr>
        <th>Bruger</th>
        <th>Brugertype</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.userType}"></td>
        <td>
            <form action="/editUser">
                <input name="username" type="text" style="display: none">
                <input name="userType" type="text" style="display: none">
                <button onmouseenter="makeForm(this)" type="submit"><img src="/Images/Edit.jpg" height="20px"
                                                                         width="20px"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
<script>
    function makeForm(element) {

        element.parentNode.children.item(0).value = element.parentNode.parentNode.parentNode.children.item(0).textContent;
        element.parentNode.children.item(1).value = element.parentNode.parentNode.parentNode.children.item(1).textContent;
    }
</script>

</html>