<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="BusinessPage.css">
    <link rel="stylesheet" href="navBar.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X"
             src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg"
             alt="Bilabonnement">
        <nav>
            <ul>
                <li><a href="/businessHomepage">Home</a></li>
                <li><a href="/listOfRentedCars">Udlejet biler</a></li>
                <li><a href="/revenueBoard">Økonomi</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>

<div id="mainDiv">

    <div id="leftDiv">

        <h1 style="margin-left: 20px">Mest populære bil <span style="float: right; margin-right: 50px" th:text="${mostPopularModel}"></span></h1>
        <hr>

        <img style="border: #130f11 2px solid; border-radius: 10px" th:src="${carImg}">

        <form action="/listOfRentedCars">

            <button>Rented cars</button>
        </form>
    </div>

    <div id="rightDiv">
        <form action="/revenueBoard">

            <button>RevenueBoard</button>
        </form>
    </div>

</div>


</body>
</html>