<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="Dashboard.css">
    <link rel="stylesheet" href="circleDiagram.css">
    <title>Business</title>
</head>
<body>
<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X"
             src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg"
             alt="Bilabonnement">
        <nav>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/listOfRentedCars">Udlejet biler</a></li>
                <li><a href="/revenueBoard">Økonomi</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>
<section class="statistics">
    <div class="row">
        <div class="box">
            <img class="icon"
                 src="https://cdn2.iconfinder.com/data/icons/car-repair-10/512/Car_Repair_Icons-25-512.png">
            <div class="box2">
                <div class="dataTop">
                    <h3 class="dataTopTitle" th:text="${rentedCars.size()}"></h3> <span class="d-block ms-2">Udlejede Biler</span>
                </div>
            </div>
        </div>
        <div class="box">
            <img class="icon"
                 src="https://cdn0.iconfinder.com/data/icons/education-vol-01-3/48/clipboard-checklist-todo-verify-list-check-inventory-512.png">
            <div class="box2">
                <div class="dataTop">
                    <h3 class="dataTopTitle" th:text="${notRentedCars.size()}"></h3> <span class="d-block ms-2">Ledige Biler</span>
                </div>
            </div>
        </div>
        <div class="box">
            <img class="icon"
                 src="https://cdn4.iconfinder.com/data/icons/office-and-business-conceptual-flat/169/10-512.png">
            <div class="box2">
                <div class="dataTop">
                    <h3 class="dataTopTitle" th:text="${allContractsAmount}"></h3> <span class="d-block ms-2">Kontrakter i alt</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="mainDiv">

    <div id="mostpopCarDiv">

        <h1 id="popcarTitle">Mest populære bil <br><span th:text="${mostPopularModel}"></span></h1>
        <img id="popCar" th:src="${carImg}">
    </div>

    <div id="rightDiv">

        <div class="dataChart">

            <div class="data">
                <span class="dataTitle" th:text="${signedContractsDay}"></span><br>
                <span>Underskrevet kontakter i dag</span>
            </div>
            <div class="data">
                <span class="dataTitle" th:text="${endedContractsToday}"></span> <br>
                <span>Udløbet kontrakter i dag</span>
            </div>
            <div class="data">
                <span class="dataTitle" th:text="${signedContractsMonth}"></span><br>
                <span>Underskrevet kontakter denne måned</span>
            </div>
            <div class="data">
                <span class="dataTitle" th:text="${cancelledContracts}" ></span><br>
                <span>Annullerede kontrakter denne måned</span>
            </div>


        </div>

        <div class="dataChart2">
            <div id="dataChart2div">
            <span>Månedlig indtægt</span>
            <div class="dataTitle" th:text="${totalRevenue}">kr</div>
            </div>
        </div>
        <div class="dataChart2">
            <div id="dataChart2chart">
            <span>Optaget biler (%)</span>
            <div class="circle-diagram" th:style="'--percent:'+@{${percent}}+';'">
                <span th:text="${percent}"/>
            </div>
            </div>
        </div>
        </div>
    </div>

</div>

</body>


</html>