<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Indkomst Board</title>
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="revenueBoard.css">
</head>
<body>

<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg" alt="Bilabonnement">

        <nav>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/listOfRentedCars">Udlejet biler</a></li>
                <li><a href="/revenueBoard">Økonomi</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>

<div id="topDiv">
    <div class="revenue">
        <h2>Månedlige indtjening</h2>
        <h1 ><span th:text="${totalRevenue}"></span> kr/md</h1>
    </div>
</div>

<div style="overflow-y: scroll" id="tableDiv">
    <table>
        <thead>
        <tr>
            <td>Kontrakt</td>
            <td>Basis pris</td>
            <td>Pris for Ekstra KM</td>
            <td>Tilføjelser</td>
            <td>Samlet kr/md</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="price : ${pricePrContract}">
            <td th:text="${price.contractID}">
            <td th:text="${price.basePrice}">
            <td th:text="${price.extraKmPrice}">
            <td th:text="${price.addOnPrice}">
            <td th:text="${price.finalPrice}">
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>