<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indkomst Board</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <td>Kontrakt</td>
            <td>Basis pris</td>
            <td>Pris for Ekstra KM</td>
            <td>Tilføjelser</td>
            <td>Samlet kr/md</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="price : ${pricePrContract}">
            <td th:text="${price.contractID}">
            <td th:text="${price.basePrice}">
            <td th:text="${price.extraKmPrice}">
            <td th:text="${price.addOnPrice}">
            <td th:text="${price.finalPrice}">
        </tr>
    </tbody>
</table>

<h1 th:text="${totalRevenue}"></h1>

</body>
</html>