<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DAMAGES</title>
    <style>
        table {border-collapse: collapse; }

    </style>
</head>
<body>

<div class="bg">
    <div class="popup-box">
        <h1 id="newDamage"> INDTAST SKADE </h1>


        <h2>
            Skaderapport for lejeaftale:
            <td th:text="${contractID}"/>
        </h2>
        <form action="/addDamage" method="post">
            <label for ="beskrivelse"></label>
            <input id="beskrivelse" type="text" name="beskrivelse" placeholder="beskrivelse" required />
            <label for ="pris"></label>
            <input id="pris" type="text" name="pris" placeholder="pris" required />
            <br>
            <br>
            <br>
            <button type="submit" class="CreateButton">Create</button>
        </form>
    </div>


    <table id="myTable" style="margin-left: 50px !important; margin-right:20px !important;">

        <tr class="header">
            <th style="width:20%;">RAPPORT ID</th>
            <th style="width:30%;">BESKRIVELSE</th>
            <th style="width:20%;">PRIS</th>
        </tr>

        <tr th:each="damage: ${currentDamages}">

            <td th:text="${damage.getReportID}"/>

            <td th:text="${damage.getDesciption}"/>

            <td th:text="${damage.getCost}"/>

        </tr>

    </table>






</div>







</body>
</html>