<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Type damage</title>
</head>
<body>


<div class="form-container sign-in-container">

    <form action="/damagepopup" method ="post">
        <h1>Indtast skade </h1>

        <label for ="beskrivelse"></label>
        <input id="beskrivelse" type="text" name="beskrivelse" placeholder="beskrivelse" required />
        <label for ="pris"></label>
        <input id="pris" type="text" name="pris" placeholder="pris" required />

        <button type="submit">Tilføj</button>
    </form>

    <br><br>

    <button onclick="window.location='/logout';" id="button2">logout</button>

</div>


</body>
</html>