<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="showReport.css">
    <title>Title</title>
</head>
<body>

<div class="form-container sign-in-container">

    <form action="/incidentReport" method ="post">
        <h1>Contract Id</h1>

        <label for ="contractID"></label>
        <input id="username" type="text" name="contractID" placeholder="contractID" required />

        <button type="submit">find report</button>
    </form>

    <br><br>

    <button onclick="window.location='/logout';" id="button2">logout</button>













</div>

</body>
</html>