<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="incidentHomepage.css">
    <title>Incidents</title>
</head>

<body>

<div class="container">


    <div id="overlay">
    <div class = "content">

        <div class = "card">
            <p class="title">OPRET SKADERAPPORT</p>


        </div>
        <div class = "card">
            <p class="title">SE SKADERAPPORT</p>

        </div>

        <div class = "card">
            <p class="title">AFSLUT KONTRAKT</p>

        </div>






    </div>

    </div>
</div>





</body>
</html>