<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="tables.css">

    <!-- Lavet af Jawaahir  -->

    <title>Skaderapport</title>
    <style>
        table {
            border-collapse: collapse;
        }

    </style>
</head>
<body>

<header id="navbar">
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X"
             src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg"
             alt="Bilabonnement">
        <nav>
            <ul>
                <li><a class="navbarDirections" href="/incidentsHomepage">Home</a></li>
                <li><a class="navbarDirections" href="/oldIncidentReports">Rapporter</a></li>
                <li><a class="navbarDirections" href="/logout">Log af</a></li>
                <li>
                    <div id="user">
                        <img src="https://icons.veryicon.com/png/o/internet--web/55-common-web-icons/person-4.png"
                             id="icon">
                        <!-- <span id="username" th:text="${session.user.getUsername()}"/>-->
                    </div>
                </li>

            </ul>
        </nav>
    </div>
</header>
<hr>
<h1 style="margin-left: 50px"> ALLE TILBAGEREGISTREREDE BILER </h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" onclick="searchfilter(0)">Kontrakt ID</a>
        <a class="dropdown-item" href="#" onclick="searchfilter(1)">Stelnummer</a>
        <a class="dropdown-item" href="#" onclick="searchfilter(2)">Bil</a>
    </div>
</div>

 <input type="text" id="myInput" onkeyup="searchfilter(0)" placeholder="Kontrakt-ID" style="margin-left: 50px">

<table id="myTable" style="margin-left: 50px !important; margin-right:20px !important;">

    <tr class="header">
        <th style="width:20%;">KONKTRAKT ID</th>
        <th style="width:30%;">STELNUMMER</th>
        <th style="width:20%;">BIL</th>
        <th style="width:15%;">Rapport</th>
        <th style="width:30%;">Afslut uden rapport</th>
    </tr>

    <tr th:each="data :${list}">
        <td th:text="${data.key.getContractID()}">
        <td th:text="${data.key.getVIN}">
        <td><span th:text="${data.value.getCarBrand()}"/> <br>
            <span th:text="${data.value.getCarModel()}"/>
        </td>
        <td>
            <form action="/addIncidentReport" method="post">
                <button type="submit" name="contractID" th:value="${data.key.getContractID}"> TILFØJ RAPPORT</button>

            </form>
        </td>
        <td>
            <form action="/endReport" method="post">
                <button onclick="return confirm('Er du sikker');" type="submit" name="sendVIN" class="DoneButton"
                        th:value="${data.key.getVIN()}">AFSLUT
                </button>
            </form>
        </td>

    </tr>

</table>

<script>

    function searchfilter(x) {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");

        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[x]

            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>