<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="incidentHomepage.css">
    <title>Incidents</title>
</head>
<body>

<div class="container">

    <!--
    <div id="login_img">
        <img id="carimg"
             src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fill,q_80,w_1280/v1/Frontpage/UnlimitedBanner_1600x990_kpfpy3.png">
    </div>

    -->
    <div class = "content">

        <div class = "card">
            <p class="title">OPRET SKADERAPPORT</p>


        </div>
        <div class = "card">
            <p class="title">SE SKADERAPPORT</p>

        </div>
        <div class = "card">
            <p class="title">AFSLUT KONTRAKT</p>

        </div>


    </div>


</div>





</body>
</html>