<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="showReport.css">
    <link rel="stylesheet" href="showContract.css">

    <title>Skaderapport</title>
</head>
<body>
<header id="navbar">
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg" alt="Bilabonnement">
        <nav >
            <ul>
                <li><a class="navbarDirections" href="/incidentsHomepage">Home</a></li>
                <li><a class="navbarDirections" href="/logout">Log out</a></li>
                <li>
                    <div id="user">
                        <img src="https://icons.veryicon.com/png/o/internet--web/55-common-web-icons/person-4.png" id="icon">
                        <!-- <span id="username" th:text="${session.user.getUsername()}"/> -->
                    </div>
                </li>

            </ul>
        </nav>
    </div>
</header>

<div class = "container">
    <div class = "panel-heading"> RAPPORT INFORMATION</div>

    <div class = infoContainter>

    <div class="reportInput">
        <label for="contractID">Konkrakt ID</label><br>
        <input type="text" name="contractID" class="form-control" th:value="${session.contractID}"
               readonly><br>
    </div>
    <div class="reportInput">
        <label for="VIN">STELNUMMER</label><br>
        <input type="text" name="VIN" class="form-control" th:value="${session.report.readOneReport(session.contractID).getVIN()}"
               readonly><br>
    </div>
    <div class="reportInput">
        <label for="DATO">DATO</label><br>
        <input type="text" name="contractID" class="form-control" th:value="${session.report.readOneReport(session.contractID).getDate()}"
               readonly><br>
    </div>

    </div>

    <table id="myTable" style="position: center;margin-bottom: 10px;margin-left: 20px;">

        <tr class="header">
            <th style="width:20%;">PRIS</th>
            <th style="width:20%;">BESKRIVELSE </th>

        </tr>

        <tr  th:each="damage:${session.damages}">
            <td th:text="${damage.getCost}">
            <td th:text="${damage.getDesciption}">


        </tr>

    </table>


</div>



</body>
</html>