body{
    background: -webkit-linear-gradient(to right, #daeaed, #8ea2b0);
    background: linear-gradient(to right, #daeaed, #8ea2b0);
    font: normal 15px "Avenir Next";
    color: #1e1e1e;
}

header{
    margin-bottom: 50px;
}
hr{
    background-color: white;
}

.statistics {

}

.statistics .box {
    background-color: #809bad;
    width: 29%;
    float: left;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;

}

.statistics .box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin: 10px 10px 10px 15px;
}


.box2{
    float: left;
    margin-left: 10px;
}
.dataTopTitle{
    margin: 10px 0 0;
    font-size: 25px;
}


#rightDiv{
    float: right;
}
#popCar{
    width: 100%
}

#rightDiv,#mostpopCarDiv{
    float: left;
    background-color: #809bad;
    margin-top: 20px;
    margin-bottom: 100px;;
    border-radius: 10px;
    width: 47%;
    height: 600px;
}

#mostpopCarDiv{
    margin-right: 30px;
    margin-left: 13px;
}

#popcarTitle{
    margin: 50px;
    font-size: 25px;
}

#popcarTitle span{
    font-size: 40px;
}


.dataChart{
    height: 91%;
    width: 45%;
    background-color: #abc1d0;
    border-radius: 7px;
    margin: 25px;
    float: left;

}

.dataChart2{
    height: 43.5%;
    margin-top: 25px;
    background-color: #abc1d0;
    border-radius: 7px;
    width: 44%;
    float: left;
    text-align: center;
    align-content: center;
}

.data{
    font-weight: bold;
    padding: 20px;
    margin: 0;
}

.dataTitle{
    font-size: 40px;
}

.dataLine{
    width: 90%;
    margin: 0;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.49);

}
