body{
    margin: 0;
    padding: 0px 70px 70px;
}
img{
    margin-top: 10px;
    width: 350px;
}

a {
    text-decoration: none;
}
a:hover {
    border-bottom: 2px solid black;
}

.wrapper {
    margin: 0 auto;
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0px;
    color: #130f11;


}

header {
    height: 80px;
    font: normal 18px "Avenir Next";
    margin-bottom: 30px;

}
hr{
    margin-bottom: 60px;
}
header nav {
    float: right;
    margin-top: 0;
    margin-bottom: 15px;

}
header nav ul li {
    float: left;
    display: inline-block;

    font-weight: 500;
}
header nav ul li a {
    color: #130f11;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
    margin-right: 50px;
}