<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement</title>

</head>
<body>

<div class="form-container sign-in-container">

    <form action="/" method ="post">
        <h1>Log in</h1>

        <label for ="username"></label>
        <input id="username" type="text" name="username" placeholder="Username" required />

        <label for ="password"></label>
        <input id="password" type="password"  name="password" placeholder="Password" required />

        <button type="submit">Log in</button>
    </form>

    <br><br>

    <button onclick="window.location='/logout';" id="button2">logout</button>

</div>

</body>
</html>