<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="ShowContract.css">

    <title>Contract</title>


</head>
<body>

<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg" alt="Bilabonnement">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Find Contract</a></li>
                <li><a href="#">Find Car Contracts</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </nav>
    </div>
</header>
<hr>
<div id="topScreen">
    <div class="leftBox">

        <div class="topContainter">
            <span>Contract ID:</span>
            <td th:text="${session.contract.getContractID()}"/>

        </div>

        <span th:switch="${session.contract.getContractStatus()}">
             <span class="topContainter" id="live" th:case="${'LIVE'}">
        LIVE
    </span>
            <span class="topContainter" id="dead" th:case="${'DEAD'}">
        DEAD
    </span>
                    <span class="topContainter" id="cancelled" th:case="${'CANCELLED'}">
        CANCELLED
    </span>
        </span>




        <br><br><br>
        <div class="maininfo">

            <h1 id="carModel"><span>Car Model</span><br>
                <td th:text="${session.car.getCarModel()}"/>
            </h1>

            <br>

            <p id="carBrand">
            <td th:text="${session.car.getCarBrand()}"/>
            </p>

            <br><br><br> <br><br><br><br><br><br><br>

            <div class="container" id="storBox">
                <div class="panel-heading">car information</div>

                <div class="infoContainter">
                    <div>
                        <label for="carModel"> Car Model</label><br>
                        <input type="text" name="carModel" class="form-control" th:value="${session.car.getCarModel()}"
                               readonly><br>
                    </div>
                    <div>
                        <label for="carBrand"> Car Brand</label><br>
                        <input type="text" name="carBrand" class="form-control" th:value="${session.car.getCarBrand()}"
                               readonly><br>
                    </div>
                    <div>
                        <label for="VIN">Vehicle identification number</label><br>
                        <input type="text" name="VIN" class="form-control" th:value="${session.car.getVIN()}"
                               readonly><br>
                    </div>


                    <label id="specification" for="specification">specification</label><br>

                    <div th:if="${session.car.class.name == 'com.example.eksamensprojekt.Model.Cars.GasCar'}">
                        <input class="specielContent" type="text" name="specification" value="Gas Car" readonly><br>

                        <div class="smallInput">

                            <label for="LiterPrKm">Liter pr. Kilometer</label><br>
                            <input class="specielContent" type="text" name="LiterPrKm"
                                   th:value="${session.car.getLiterPrKm()}"
                                   readonly><br>
                        </div>

                        <div class="smallInput">

                            <label for="co2PrKm">Co2 emisson pr. Kilometer</label><br>
                            <input class="specielContent" type="text" name="co2PrKm"
                                   th:value="${session.car.getCo2PrKm()}"
                                   readonly><br>

                        </div>
                    </div>
                    <div th:unless="${session.car.class.name == 'com.example.eksamensprojekt.Model.Cars.GasCar'}">

                        <input class="specielContent" type="text" name="specification" value="Electric Car"
                               readonly><br>

                        <label for="kmPrCharge">Kilometer Pr. Charge</label><br>
                        <input class="specielContent" type="text" name="LiterPrKm"
                               th:value="${session.car.getKmPrCharge()}"
                               readonly><br>

                        <div class="additionalInfo">

                        <span th:if="${session.car.isCleverCharging()==false}">

                            <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" disabled>
                            <label for="styled-checkbox-1">Clever Network Charging</label>

                        </span>

                            <span th:unless="${session.car.isCleverCharging()==false}">

                            <input class="styled-checkbox" id="styled-checkbox-1.2" type="checkbox" checked disabled>
                            <label for="styled-checkbox-1.2">Clever Network Charging</label>

                        </span>


                            <span th:if="${session.car.isCleverNetworkCharging()==false}">

                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" disabled>
                            <label for="styled-checkbox-2">Clever Charging</label>

                        </span>

                            <span th:unless="${session.car.isCleverNetworkCharging()==false}">

                            <input class="styled-checkbox" id="styled-checkbox-2.1" type="checkbox" checked disabled>
                            <label for="styled-checkbox-2.1">Clever Charging</label>

                        </span>

                        </div>

                    </div>

                </div>
            </div>

            <br>
        </div>
    </div>

    <div class="rightBox">
        <br><br><br><br><br>

        <div id="carStatusContainter">

            <div id="carStatus">
                Car Status<br><br>
                <span>  <td th:text="${session.car.getCarStatus()}"/> </span>
            </div>

            <div id="submitCarStat">
                <form action="/updateCarStatus" method="post">
                    <input type="hidden" name="carStatus" value="RETURNED">
                    <button type="submit">Change status to RETURNED</button>
                </form>
            </div>

        </div>
        <br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="container" id="storBox2">
            <div class="panel-heading">contract information</div>

            <div class="infoContainter">
                <label for="contractID">Contract ID</label><br>
                <input type="text" name="contractID" class="form-control" th:value="${session.contract.getContractID()}"
                       readonly><br>

                <label for="subLenght">Subsription lenght</label><br>
                <input type="text" name="subLenght" class="form-control" th:value="${session.contract.getSubLenght()}"
                       readonly><br>

                <label for="pickupDes">pickup destination</label><br>
                <input type="text" name="pickupDes" class="form-control"
                       th:value="${session.contract.getPickupDestination()}" readonly><br>

                <label for="kmPrMonth">Kilometer Pr. month</label><br>
                <input type="text" name="kmPrMonth" class="form-control"
                       th:value="${session.contract.getKmPrMonth()}" readonly><br>

                <div style="width: 100%">
                    <div class="smallInput">
                        <label >Kontrakt Oprettet <br> <input type="text" name="dato" class="form-control" style="width: 99%"
                                                              th:value="${session.contract.getStartDate()}" readonly></label>

                    </div>
                    <div class="smallInput">
                        <label>Kontrakt slutning <br> <input type="text" name="endDate" class="form-control" style="width: 99%"
                                                             th:value="${session.contract.getEndDate()}" readonly></label><br>
                    </div>
                </div>



                <div class="additionalInfoContract">

                    <div>
            <span th:if="${session.contract.isWinterTires()==false}">

                <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" disabled>
                 <label for="styled-checkbox-3">Winter Tires</label>
            </span>

                        <span th:unless="${session.contract.isWinterTires()==false}">

                <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" checked disabled>
                <label for="styled-checkbox-4">Winter Tires</label>

            </span>

                        <span th:if="${session.contract.isVikingHelp()==false}">

                <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" disabled>
                 <label for="styled-checkbox-5">Viking help</label>
            </span>

                        <span th:unless="${session.contract.isVikingHelp()==false}">

                <input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" checked disabled>
                <label for="styled-checkbox-6">Viking help</label>

            </span>
                    </div>

                    <div>
                <span th:if="${session.contract.isDeliveryInsurance()==false}">

                <input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" disabled>
                 <label for="styled-checkbox-7">Delivery Insurance</label>
            </span>

                        <span th:unless="${session.contract.isDeliveryInsurance()==false}">

                <input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" checked disabled>
                <label for="styled-checkbox-8">Delivery Insurance</label>

            </span>

                        <span th:if="${session.contract.isLowDeductible()==false}">

                <input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" disabled>
                 <label for="styled-checkbox-7">Low Deductible</label>
            </span>

                        <span th:unless="${session.contract.isLowDeductible()==false}">

                <input class="styled-checkbox" id="styled-checkbox-10" type="checkbox" checked disabled>
                <label for="styled-checkbox-8">Low Deductible</label>

            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container2">
    <div class="panel-heading">Customer information</div>

    <div class="infoContainter">

        <div class="customerInput">
            <label for="name">Name</label><br>
            <input type="text" name="name" class="form-control" th:value="${session.customer.getName()}"
                   readonly><br>
        </div>
        <div class="customerInput">
            <label for="email">Email</label><br>
            <input type="text" name="email" class="form-control" th:value="${session.customer.getEmail()}"
                   readonly><br>
        </div>
        <div class="customerInput">
            <label for="phonenumber">phone number</label><br>
            <input type="text" name="phonenumber" class="form-control"
                   th:value="${session.customer.getPhoneNum()}" readonly><br>
        </div>
        <div class="customerInput">
            <label for="CPR">social Security number</label><br>
            <input type="text" name="CPR" class="form-control"
                   th:value="${session.customer.getCprNum()}" readonly><br>
        </div>
        <div class="customerInput">
            <label for="address">Address</label><br>
            <input type="text" name="address" class="form-control"
                   th:value="${session.customer.getAddress()}" readonly><br>
        </div>
        <div class="customerInput">
            <label for="zipcode">ZIP code</label><br>
            <input type="text" name="zipcode" class="form-control"
                   th:value="${session.customer.getZipCode()}" readonly><br>
        </div>
    </div>
</div>

</body>
</html>