<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here you can add a new contract</title>
</head>
<body>

<form action="/addContract">
    <h1> Customer information </h1> <br>
    <label> name: <input type="text" name="name" required> </label><br>
    <label> cpr: <input type="text" name="cpr" required> </label><br>
    <label> email: <input type="text" name="email" required> </label><br>
    <label> address: <input type="text" name="address" required> </label><br>
    <label> phonenumber: <input type="text" name="phonenumber" required> </label><br>
    <label> ZIPcode: <input type="number" name="ZIPcode" required> </label><br>
    <h1>Car information </h1> <br>

    <select name="car">
        <option th:each="car : ${cars}" th:value="${car.VIN}" th:text="${car}"></option>
    </select>

    <label> SubLength:
        <select name="subLength">
            <option value="THREE_MONTHS">3 måneder</option>
            <option value="SIX_MONTHS">6 måneder</option>
            <option value="TWELVE_MONTHS">12 måneder</option>
            <option value="TWENTYFOUR_MONTHS">24 måneder</option>
            <option value="THIRTYSIX_MONTHS">36 måneder</option>
        </select>
    </label><br>

    <label> Afhentningsted <br>
        <select name="pickupDestination">
            <option value="FDM_AARHUS">Århus</option>
            <option value="FMD_VEJLE">Vejle</option>
            <option value="FDM_SOENDERBORG">Sønderborg</option>
            <option value="FDM_SILKEBORG">Silkeborg</option>
            <option value="FDM_ODENSE">Odense</option>
            <option value="FDM_NAESTVED">Næstved</option>
            <option value="FDM_FREDERICIA">Fredericia</option>
            <option value="FDM_AALBORG">Aalborg</option>
            <option value="FDM_HILLEROED">Hillerød</option>
            <option value="KW_BRUUN">K.W Bruun</option>
        </select>
    </label>
    <h1>Price </h1> <br>
    <label> finalPrice: <input type="number" name="finalPrice" required> </label><br>

    <label>Viking hjælp ------------- 49kr <input name="vikingHelp" type="checkbox"></label> <br>
    <label>Afleverings forsikring -- 119kr <input name="deliveryInsurance" type="checkbox"></label> <br>
    <label>Lav selvrisiko ----------- 64kr <input name="lowDeductible" type="checkbox"></label> <br>
    <label>Komplette vinterhjul ----- 49kr <input name="winterTires" type="checkbox"></label> <br>

    <button type="submit"> submit </button>
</form>

</body>
</html>