<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ElectricCarContrat</title>
</head>
<body>
<form>
    <h1>Tilføjelser: </h1> <br>

    <label>Viking hjælp ------------- 49kr <input name="vikingHelp" type="checkbox"></label> <br>
    <label>Afleverings forsikring -- 119kr <input name="deliveryInsurance" type="checkbox"></label> <br>
    <label>Lav selvrisiko ----------- 64kr <input name="lowDeductible" type="checkbox"></label> <br>
    <label>Komplette vinterhjul ----- 49kr <input name="winterTires" type="checkbox"></label> <br>
    <label>CleverUnlimitedNetwork ----- 625kr <input name="winterTires" type="checkbox"></label> <br>
    <label>CleverUnlimited ----- 749kr <input name="winterTires" type="checkbox"></label> <br>


    <button type="submit"> submit </button>
</form>
</body>

</html>