<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="ShowContract.css">

    <title>Lejeaftale</title>


</head>
<body>

<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X"
             src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg"
             alt="Bilabonnement">
        <nav id="navbar">
            <ul>
                <li><a href="/dataHomepage">Home</a></li>
                <li><a href="/contractPage">Tilføj Lejeaftale</a></li>
                <li><a href="/logout">Log af</a></li>
                <li>
                    <div id="user">
                        <img src="https://icons.veryicon.com/png/o/internet--web/55-common-web-icons/person-4.png"
                             id="icon">
                        <span id="username" th:text="${session.user.getUsername()}"></span>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<hr>

<div id="topScreen">
    <div class="leftBox">

        <div class="topContainter">
            <span>Contract ID:</span>
            <td th:text="${session.contract.getContractID()}"/>

        </div>
        <span th:if="${session.contract.getContractStatus().name()=='LIVE'}" class="topContainter" id="live">
        LIVE
    </span>
        <span class="topContainter" id="dead" th:if="${session.contract.getContractStatus().name()=='DEAD'}">
        DEAD
    </span>
        <span class="topContainter" id="cancelled" th:if="${session.contract.getContractStatus().name()=='CANCELLED'}">
        CANCELLED </span>


        <br><br><br>
        <div class="maininfo">

            <div id="carTitle">
                <h1 id="carModel"><span>Bil Model</span><br>
                    <td th:text="${session.car.getCarModel()}"/>
                </h1>

                <br>

                <p id="carBrand">
                <td th:text="${session.car.getCarBrand()}"/>
                </p>
            </div>

            <br><br><br> <br>

            <div class="container" id="storBox">
                <div class="panel-heading">Bil oplysninger</div>

                <div class="infoContainter">
                    <div>
                        <label for="carModel">Bil Model</label><br>
                        <input type="text" name="carModel" class="form-control" th:value="${session.car.getCarModel()}"
                               readonly><br>
                    </div>
                    <div>
                        <label for="carBrand">Bil Mærke</label><br>
                        <input type="text" name="carBrand" class="form-control" th:value="${session.car.getCarBrand()}"
                               readonly><br>
                    </div>
                    <div>
                        <label for="VIN">Stelnummer</label><br>
                        <input type="text" name="VIN" class="form-control" th:value="${session.car.getVIN()}"
                               readonly><br>
                    </div>


                    <label id="specification" for="specification">specifikation</label><br>

                    <div th:if="${session.car.class.name == 'com.example.eksamensprojekt.Model.Cars.GasCar'}">
                        <input class="specielContent" type="text" name="specification" value="Gas Car" readonly><br>

                        <div class="smallInput">

                            <label for="LiterPrKm">Liter pr. Kilometer</label><br>
                            <input class="specielContent" type="text" name="LiterPrKm"
                                   th:value="${session.car.getLiterPrKm()}"
                                   readonly><br>
                        </div>

                        <div class="smallInput">

                            <label for="co2PrKm">Co2 udledning pr. Kilometer</label><br>
                            <input class="specielContent" type="text" name="co2PrKm"
                                   th:value="${session.car.getCo2PrKm()}"
                                   readonly><br>

                        </div>
                    </div>
                    <div th:unless="${session.car.class.name == 'com.example.eksamensprojekt.Model.Cars.GasCar'}">

                        <input class="specielContent" type="text" name="specification" value="Electric Car"
                               readonly><br>

                        <label for="kmPrCharge">Kilometer Pr. opladning</label><br>
                        <input class="specielContent" type="text" name="LiterPrKm"
                               th:value="${session.car.getKmPrCharge()}"
                               readonly><br>

                        <div class="additionalInfo">

                        <span th:if="${session.car.isCleverCharging()==false}">

                            <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" disabled>
                            <label for="styled-checkbox-1">Clever Network Charging</label>

                        </span>

                            <span th:unless="${session.car.isCleverCharging()==false}">

                            <input class="styled-checkbox" id="styled-checkbox-1.2" type="checkbox" checked disabled>
                            <label for="styled-checkbox-1.2">Clever Network Charging</label>

                        </span>


                            <span th:if="${session.car.isCleverNetworkCharging()==false}">

                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" disabled>
                            <label for="styled-checkbox-2">Clever Charging</label>

                        </span>

                            <span th:unless="${session.car.isCleverNetworkCharging()==false}">

                            <input class="styled-checkbox" id="styled-checkbox-2.1" type="checkbox" checked disabled>
                            <label for="styled-checkbox-2.1">Clever Charging</label>

                        </span>

                        </div>

                    </div>

                </div>
            </div>

            <br>
        </div>
    </div>

    <div class="rightBox">
        <br><br>

        <div id="carStatusContainter">

            <span th:if="${session.car.getCarStatus().name()=='RENTED' and session.contract.getContractStatus().name()=='LIVE'}">

            <button class="buttons" id="carStatus"><span id="carStatusSpan">Bil Status: </span>
            <td th:text="${session.car.getCarStatus()}"/>
            </button>

            <form action="/updateCarStatus" method="post">
                <input type="hidden" name="carStatus" value="RETURNED"/>
                <input type="hidden" name="ContractStatus" value="'DEAD'"/>
                <button onclick="return confirm('Vil du afslutte lejeaftale?');" class="buttons" id="submitCarStat" type="submit">Afslut lejeaftale</button>

            </form>

            <form action="/updateCarStatus" method="post">

                        <input type="hidden" name="carStatus" value="RETURNED"/>
                        <input type="hidden" name="ContractStatus" value="'CANCELLED'"/>
                        <button onclick="return confirm('Vil du annullere lejeaftale?');"  class="buttons" id="cancelContract" type="submit">Annuller lejeaftale</button>

            </form>
             </span>


        </div>
        <div class="container" id="storBox2">
            <div class="panel-heading">contract information</div>

            <div style="width: 100%">
                <div class="smallInput">
                    <label>Kontrakt Oprettet <br> <input class="date" type="text" name="dato"
                                                         style="width: 99%"
                                                         th:value="${session.contract.getStartDate()}"
                                                         readonly></label>

                </div>
                <div class="smallInput">
                    <label>Kontrakt slutning <br> <input class="date" type="text" name="endDate"
                                                         style="width: 99%"
                                                         th:value="${session.contract.getEndDate()}"
                                                         readonly></label><br>
                </div>
            </div>

            <div class="infoContainter">
                <label for="contractID">Kontrakt ID</label><br>
                <input type="text" name="contractID" class="form-control" th:value="${session.contract.getContractID()}"
                       readonly><br>

                <label for="subLenght">Abonnement længde</label><br>
                <input type="text" name="subLenght" class="form-control"
                       th:value="${session.contract.getSubLenghtConverted()}"
                       readonly><br>

                <label for="pickupDes">Afhentningssted</label><br>
                <input type="text" name="pickupDes" class="form-control"
                       th:value="${session.contract.getPickupDestination()}" readonly><br>

                <label for="kmPrMonth">Kilometer Pr. måned</label><br>
                <input type="text" name="kmPrMonth" class="form-control"
                       th:value="${session.contract.getKmPrMonthConverted()}" readonly><br>


                <div class="additionalInfoContract">

                    <div>
            <span th:if="${session.contract.isWinterTires()==false}">

                <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" disabled>
                 <label for="styled-checkbox-3">Vinterdæk</label>
            </span>

                        <span th:unless="${session.contract.isWinterTires()==false}">

                <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" checked disabled>
                <label for="styled-checkbox-4">Vinterdæk</label>

            </span>

                        <span th:if="${session.contract.isVikingHelp()==false}">

                <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" disabled>
                 <label for="styled-checkbox-5">Viking help</label>
            </span>

                        <span th:unless="${session.contract.isVikingHelp()==false}">

                <input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" checked disabled>
                <label for="styled-checkbox-6">Viking help</label>

            </span>
                    </div>

                    <div>
                <span th:if="${session.contract.isDeliveryInsurance()==false}">

                <input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" disabled>
                 <label for="styled-checkbox-7">Afleveringsforsikring</label>
            </span>

                        <span th:unless="${session.contract.isDeliveryInsurance()==false}">

                <input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" checked disabled>
                <label for="styled-checkbox-8">Afleveringsforsikring</label>

            </span>

                        <span th:if="${session.contract.isLowDeductible()==false}">

                <input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" disabled>
                 <label for="styled-checkbox-7">Lav selvrisiko</label>
            </span>

                        <span th:unless="${session.contract.isLowDeductible()==false}">

                <input class="styled-checkbox" id="styled-checkbox-10" type="checkbox" checked disabled>
                <label for="styled-checkbox-8">Lav selvrisiko</label>

            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container2">
    <div class="panel-heading">Customer information</div>

    <div class="infoContainter">

        <div class="customerInput">
            <label for="name">Navn</label><br>
            <input type="text" name="name" class="form-control" th:value="${session.customer.getName()}"
                   readonly><br>
        </div>
        <div class="customerInput">
            <label for="email">Email</label><br>
            <input type="text" name="email" class="form-control" th:value="${session.customer.getEmail()}"
                   readonly><br>
        </div>
        <div class="customerInput">
            <label for="phonenumber">Telefon nummer</label><br>
            <input type="text" name="phonenumber" class="form-control"
                   th:value="${session.customer.getPhoneNum()}" readonly><br>
        </div>
        <div class="customerInput">
            <label for="CPR">CPR-nummer</label><br>
            <input type="text" name="CPR" class="form-control"
                   th:value="${session.customer.getCprNum()}" readonly><br>
        </div>
        <div class="customerInput">
            <label for="address">Adresse</label><br>
            <input type="text" name="address" class="form-control"
                   th:value="${session.customer.getAddress()}" readonly><br>
        </div>
        <div class="customerInput">
            <label for="zipcode">post nummer</label><br>
            <input type="text" name="zipcode" class="form-control"
                   th:value="${session.customer.getZipCode()}" readonly><br>
        </div>
    </div>
</div>

</body>
</html>